<div class="flex-container" style="left: 0px;">
    <div class="footer">
        <span> Находясь на данной веб-странице, вы подтверждаете то, что не являетесь человечешкой<br><br> </span>
        <span><u>все котьи права защищены.</u> </span>
    </div> 
</div>